
<div class="generator_form gradiente_block">
  <!--<form accept-charset="UTF-8" action="/stories/12" class="edit_story" data-remote="true" id="edit_story_12" method="post">-->
  <form action="/offer" id="post_form" method="post">
    <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
    <div class="text_fields">
      <div class="field clearfix">
        <input type="text" name="title" value="" class="text_field" id="inp_title_1"/>
        <span>Заголовок</span>
      </div>
      <div class="field clearfix">
        <input type="text" name="description[1]" value="" class="text_field" id="inp_description_1"/>
        <span>Предмет</span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="description[2]" value="" class="text_field" id="inp_description_2"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="description[3]" value="" class="text_field" id="inp_description_3"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="description[4]" value="" class="text_field" id="inp_description_4"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="description[5]" value="" class="text_field" id="inp_description_5"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="description[6]" value="" class="text_field" id="inp_description_6"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="description[7]" value="" class="text_field" id="inp_description_7"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="description[8]" value="" class="text_field" id="inp_description_8"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="description[9]" value="" class="text_field" id="inp_description_9"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="description[10]" value="" class="text_field" id="inp_description_10"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="description[11]" value="" class="text_field" id="inp_description_11"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="description[12]" value="" class="text_field" id="inp_description_12"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="description[13]" value="" class="text_field" id="inp_description_13"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="description[14]" value="" class="text_field" id="inp_description_14"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="description[15]" value="" class="text_field" id="inp_description_15"/>
        <span></span>
      </div>
      <div class="field clearfix">
        <input type="text" name="offer[1]" value="" class="text_field" id="inp_offer_1"/>
        <span>Коммерческие условия</span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="offer[2]" value="" class="text_field" id="inp_offer_2"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="offer[3]" value="" class="text_field" id="inp_offer_3"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="offer[4]" value="" class="text_field" id="inp_offer_4"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="offer[5]" value="" class="text_field" id="inp_offer_5"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="offer[6]" value="" class="text_field" id="inp_offer_6"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="offer[7]" value="" class="text_field" id="inp_offer_7"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="offer[8]" value="" class="text_field" id="inp_offer_8"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="offer[9]" value="" class="text_field" id="inp_offer_9"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="offer[10]" value="" class="text_field" id="inp_offer_10"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="offer[11]" value="" class="text_field" id="inp_offer_11"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="offer[12]" value="" class="text_field" id="inp_offer_12"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="offer[13]" value="" class="text_field" id="inp_offer_13"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="offer[14]" value="" class="text_field" id="inp_offer_14"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="offer[15]" value="" class="text_field" id="inp_offer_15"/>
        <span></span>
      </div>
      <div class="field clearfix">
        <input type="text" name="add_service[1]" value="" class="text_field" id="inp_add_service_1"/>
        <span>Дополнительный сервис</span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="add_service[2]" value="" class="text_field" id="inp_add_service_2"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="add_service[3]" value="" class="text_field" id="inp_add_service_3"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="add_service[4]" value="" class="text_field" id="inp_add_service_4"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="add_service[5]" value="" class="text_field" id="inp_add_service_5"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="add_service[6]" value="" class="text_field" id="inp_add_service_6"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="add_service[7]" value="" class="text_field" id="inp_add_service_7"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="add_service[8]" value="" class="text_field" id="inp_add_service_8"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="add_service[9]" value="" class="text_field" id="inp_add_service_9"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="add_service[10]" value="" class="text_field" id="inp_add_service_10"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="add_service[11]" value="" class="text_field" id="inp_add_service_11"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="add_service[12]" value="" class="text_field" id="inp_add_service_12"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="add_service[13]" value="" class="text_field" id="inp_add_service_13"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="add_service[14]" value="" class="text_field" id="inp_add_service_14"/>
        <span></span>
      </div>
      <div class="field clearfix" hidden="hidden">
        <input type="text" name="add_service[15]" value="" class="text_field" id="inp_add_service_15"/>
        <span></span>
      </div>
      <br>
      <div class="field clearfix">
        <span>Подпись:</span>
      </div>
      <br>
      <br>
      <br>
      <div class="field clearfix">
        <input type="text" name="name" value="" class="text_field"/>
        <span>Имя Фамилия</span>
      </div>
      <div class="field clearfix">
        <input type="text" name="post" value="" class="text_field"/>
        <span>Должность</span>
      </div>
      <div class="field clearfix">
        <div class="text_field_company">«Неско Санкт-Петербург»</div>
        <br>
        <span>Компания</span>
      </div>
      <br>
      <div class="field clearfix">
        <input type="text" name="tel" value="" class="text_field"/>
        <span>Телефон</span>
      </div>
    </div>
    <div class="radios clearfix">
      <section class="radios_section radios_section1">
        <div class="radios_section_row clearfix">
          <div class="inputs clearfix">
            <input type="radio" id="la1" class="radio" name="a" onclick="kp_select('excel_btn','pdf_btn', false);"/>
          </div>
          <label for="la1">Ассортиментное предложение</label>
        </div>
        <div class="radios_section_row clearfix">
          <div class="inputs clearfix">
            <input type="radio" id="la2" class="radio" name="a" onclick="kp_select('pdf_btn','excel_btn', true);"/>
          </div>
          <label for="la2">В виде КП</label>
        </div>
      </section>
      <section class="radios_section radios_section2">
        <div class="radios_section_row clearfix xlsx">
          <div class="inputs clearfix">
            <input type="checkbox" id="lb1" class="radio" name="photo"/>
          </div>
          <label for="lb1">Фото</label>
        </div>
        <div class="radios_section_row clearfix xlsx">
          <div class="inputs clearfix">
            <input type="checkbox" id="lb2" class="radio" name="nameCheck"/>
          </div>
          <label for="lb2">Оригинальное название</label>
        </div>
        <div class="radios_section_row clearfix xlsx">
          <div class="inputs clearfix">
            <input type="checkbox" id="lb3" class="radio" name="descriptionCheck"/>
          </div>
          <label for="lb3">Описание</label>
        </div>
        <div class="radios_section_row clearfix xlsx">
          <div class="inputs clearfix">
            <input type="checkbox" id="lb4" class="radio" name="wine_varieties"/>
          </div>
          <label for="lb4">Сортовой состав</label>
        </div>
        <div class="radios_section_row clearfix xlsx">
          <div class="inputs clearfix">
            <input type="checkbox" id="lb5" class="radio" name="honors"/>
          </div>
          <label for="lb5">Награды</label>
        </div>
        <div class="radios_section_row clearfix xlsx">
          <div class="inputs clearfix">
            <input type="checkbox" id="lb6" class="radio" name="abv"/>
          </div>
          <label for="lb6">Крепость</label>
        </div>
      </section>
      <section class="radios_section radios_section3">
        <div class="radios_section_click radios_section_row clearfix xlsx special_conditions_label" style="display: block;">
          <div class="inputs clearfix">
            <input type="checkbox" id="lc1" class="radio" name="specials">
          </div>
          <label for="lc1">Специальные условия</label>
        </div>
        <div class="radios_section_click radios_section_row clearfix xlsx note_label" style="display: block;">
          <div class="inputs clearfix">
            <input type="checkbox" id="lc2" class="radio" name="note">
          </div>
          <label for="lc2">Примечание</label>
        </div>
        <div class="radios_section_row clearfix xlsx" style="display: block;">
          <div class="inputs clearfix">
            <input type="checkbox" id="lc3" class="radio" name="barcode">
          </div>
          <label for="lc3">Штрих-код</label>
        </div>
        <div class="radios_section_row clearfix xlsx" style="display: block;">
          <div class="inputs clearfix">
            <input type="checkbox" id="lc4" class="radio" name="amount">
          </div>
          <label for="lc4">Количество в упаковке</label>
        </div>
      </section>
    </div>
    <input type="text" hidden name="foo" id="foo" value="" class="text_field"/>
    <div class="buttons clearfix">
      <button hidden class="btn excel_btn" onclick="$('#foo').val('xlsx')"><i></i>СФОРМИРОВАТЬ EXСEL</button>
      <button hidden class="btn pdf_btn" onclick="$('#foo').val('pdf')"><i></i>СФОРМИРОВАТЬ PDF</button>
    </div>
  </form>
</div>


<script>
document.getElementById('inp_description_1').onkeypress=showKPfields;
document.getElementById('inp_description_2').onkeypress=showKPfields;
document.getElementById('inp_description_3').onkeypress=showKPfields;
document.getElementById('inp_description_4').onkeypress=showKPfields;
document.getElementById('inp_description_5').onkeypress=showKPfields;
document.getElementById('inp_description_6').onkeypress=showKPfields;
document.getElementById('inp_description_7').onkeypress=showKPfields;
document.getElementById('inp_description_8').onkeypress=showKPfields;
document.getElementById('inp_description_9').onkeypress=showKPfields;
document.getElementById('inp_description_10').onkeypress=showKPfields;
document.getElementById('inp_description_11').onkeypress=showKPfields;
document.getElementById('inp_description_12').onkeypress=showKPfields;
document.getElementById('inp_description_13').onkeypress=showKPfields;
document.getElementById('inp_description_14').onkeypress=showKPfields;

document.getElementById('inp_offer_1').onkeypress=showKPfields;
document.getElementById('inp_offer_2').onkeypress=showKPfields;
document.getElementById('inp_offer_3').onkeypress=showKPfields;
document.getElementById('inp_offer_4').onkeypress=showKPfields;
document.getElementById('inp_offer_5').onkeypress=showKPfields;
document.getElementById('inp_offer_6').onkeypress=showKPfields;
document.getElementById('inp_offer_7').onkeypress=showKPfields;
document.getElementById('inp_offer_8').onkeypress=showKPfields;
document.getElementById('inp_offer_9').onkeypress=showKPfields;
document.getElementById('inp_offer_10').onkeypress=showKPfields;
document.getElementById('inp_offer_11').onkeypress=showKPfields;
document.getElementById('inp_offer_12').onkeypress=showKPfields;
document.getElementById('inp_offer_13').onkeypress=showKPfields;
document.getElementById('inp_offer_14').onkeypress=showKPfields;

document.getElementById('inp_add_service_1').onkeypress=showKPfields;
document.getElementById('inp_add_service_2').onkeypress=showKPfields;
document.getElementById('inp_add_service_3').onkeypress=showKPfields;
document.getElementById('inp_add_service_4').onkeypress=showKPfields;
document.getElementById('inp_add_service_5').onkeypress=showKPfields;
document.getElementById('inp_add_service_6').onkeypress=showKPfields;
document.getElementById('inp_add_service_7').onkeypress=showKPfields;
document.getElementById('inp_add_service_8').onkeypress=showKPfields;
document.getElementById('inp_add_service_9').onkeypress=showKPfields;
document.getElementById('inp_add_service_10').onkeypress=showKPfields;
document.getElementById('inp_add_service_11').onkeypress=showKPfields;
document.getElementById('inp_add_service_12').onkeypress=showKPfields;
document.getElementById('inp_add_service_13').onkeypress=showKPfields;
document.getElementById('inp_add_service_14').onkeypress=showKPfields;
</script>

<script>$('.xlsx').hide()</script>