<div>
  <h3>Login</h3>
</div>
<%= form_tag sessions_path do %>
  <table>
    <tr>
      <td>
        Email
      </td>
      <td>
        1<%= text_field_tag :email, params[:email] %>
      </td>
    </tr>
    <tr>
      <td>
        Password
      </td>
      <td>
        1<%= password_field_tag :password %>
      </td>
    </tr>
  </table>
  <a><%= submit_tag 'Login' %></a>
<%end%>