<%= link_to "Новый производитель", new_manufacturer_path, remote: true %>
<div class="mainWindow">
  <div class="manufacturers">
    <%= render 'manufacturers/index' %>
  </div>
  <div class="manufacturer_details">

  </div>
</div>